%h1 Questions For This Poll

%table.table
  %thead
    %tr
      %th{:scope => "col"} Title
      %th{:scope => "col"} Kind
      %th{:scope => "col"} Poll
      %th{:scope => "col"} View
      %th{:scope => "col"} Edit
      %th{:scope => "col"} Delete

  %tbody
    - @poll.questions.each do |question|
      %tr
        %th{:scope => "row"}= question.title
        %td= question.kind
        %td= question.poll_id
        %td= link_to 'Show', [ @poll, question ], class: "btn btn-primary btn-sm"
        %td= link_to 'Edit', edit_poll_question_path(@poll, question), class: "btn btn-primary btn-sm"
        %td= link_to 'Destroy', [ @poll, question ], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm"

