%p#notice= notice

%p
  %b Title:
  = @question.title
%p
  %b Kind:
  = @question.kind
%p
  %b Poll:
  = @question.poll

= link_to 'Edit', edit_poll_question_path(@poll, @question)
\|
= link_to 'Back', @poll 
