<h1>
  <%= @poll.title %>
</h1>
<h2>Description</h2>
<%= @poll.description %>
<h3>Status</h3>
<%= @poll.status %>
<div>
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "Questions", "#tab-questions", data: { toggle: "tab" } %>
    </li>
    <li class="active">
      <%= link_to "Responses", "#tab-replies", data: { toggle: "tab" } %>
    </li>
    <li class="active">
      <%= link_to "Results", "#tab-results", data: { toggle: "tab" } %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-questions">
      <h2>Questions</h2>
      <ol>
        <% @poll.questions.each do |question| %>
          <li>
            <%= question.title %>
            <ul>
              <% question.possible_answers.each do |possible_answer| %>
                <li>
                  <%= possible_answer.title %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ol>
      <p class="btn-group btn-group-xs"></p>
      <%= link_to 'Edit', edit_poll_path(@poll), class: "btn btn-primary" %>
      <%= link_to 'Back', polls_path, class: "btn btn-primary" %>
      <%= link_to 'Add Question', new_poll_question_path(@poll), class: "btn btn-primary" %>
      <%= link_to 'Answer', new_poll_reply_path(@poll), class: "btn btn-primary"           %>
    </div>
    <div class="tab-pane" id="tab-replies">
      <h2>User Responses</h2>
      <% @poll.replies.each do |reply| %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-right">
              <%= time_ago_in_words reply.created_at %>
            </div>
            <div class="panel-body">
              <dl>
                <% reply.answers.each do |answer| %>
                  <dt>
                    <%= answer.question.title %>
                  </dt>
                  <dd>
                    <%= answer.value.present? ? answer.value : answer.possible_answer.title %>
                  </dd>
                <% end %>
              </dl>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab-results"></div>
  </div>
</div>
