%h1= @poll.title

%h2 Description
=@poll.description

%div

  %ul.nav.nav-tabs
    %li.active
      =link_to "Questions", "#tab-questions", data: { toggle: "tab" }
    %li.active
      =link_to "Responses", "#tab-replies", data: { toggle: "tab" }
    %li.active
      =link_to "Results", "#tab-results", data: { toggle: "tab" }
    
      

  .tab-content
    #tab-questions.tab-pane.active
      %h2 Questions
  
      %ol
        -@poll.questions.each do |question|
          %li
            =question.title
            %ul
              -question.possible_answers.each do |possible_answer|
                %li=possible_answer.title
      
      %p.btn-group.btn-group-xs
      = link_to 'Edit', edit_poll_path(@poll), class: "btn btn-primary"
      = link_to 'Back', polls_path, class: "btn btn-primary"
      = link_to 'Add Question', new_poll_question_path(@poll), class: "btn btn-primary"
      = link_to 'Answer', new_poll_reply_path(@poll), class: "btn btn-primary"          
    
    #tab-replies.tab-pane
      %h2 User Responses
  
      -@poll.replies.each do |reply|
        .col-md-6
          .panel.panel-default
            .panel-heading.text-right
              =time_ago_in_words reply.created_at
            .panel-body
              %dl
                -reply.answers.each do |answer|
                  %dt=answer.question.title
                  %dd
                    =answer.value.present? ? answer.value : answer.possible_answer.title
                    
    #tab-results.tab-pane




        

  